/*body{*/
/*		background: var(--bg);*/
/*		color: var(--text);*/
/*}*/

.dark {
		--bg: #212121;
		--text: white;
}

.red {
		--bg: red;
		--text: white;
}

.green {
		--bg: green;
		--text: white;
}

.aaa {
		background: var(--bg);
		color: var(--text);
}

.clock {
		width: 200px;
		height: 200px;
		border-radius: 15px;
		background-color: #333;
		color: #fff;
		position: relative;
		margin: 0 auto;
}

#second {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 50px;
}

#minute {
		position: absolute;
		top: 50%;
		left: 25%;
		font-size: 50px;
}

#form {
		margin-top: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3px;
}
